@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

html {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

body {
  margin: inherit;
  padding: inherit;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 100%;
}

/* Header */

.header {
  background-color: #dcfce7;
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  padding: 10px;
  padding-left: 20px;
  padding-top: 5px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 2px 5px lightgray;
}

/* Header-Searchbar*/
.searchbar {
  display: grid;
  grid-template-columns: 0.3fr 4fr 1fr 0.5fr 1fr;
  padding: inherit;
  padding-bottom: 30px;
  justify-items: center;
  align-items: center;
}

.searchbar #search-input {
  justify-self: start;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  margin-top: -5px;
}

#search-input input {
  min-width: 90%;
  height: 23px;
  background-color: lightgray;
  border: none;
  border-radius: 15px;
  font-size: inherit;
  font-weight: bold;
}

.searchbar .profile {
  justify-self: center;
}

.searchbar .profile img {
  max-height: 50px;
  max-width: auto;
  border-radius: 50%;
}

.icon img {
  max-height: 25px;
  max-width: auto;
}

.icon.notification {
  justify-self: center;
}

.searchbar #username {
  justify-self: start;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Header-Navbar*/
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: inherit;
  padding-top: 0px;
  padding-bottom: 5px;
}

.profile-welcome {
  display: grid;
  grid-template-columns: auto 2fr;
}

.profile-welcome img {
  max-height: 60px;
  max-width: auto;
  border-radius: 50%;
}

.profile-welcome .greeting {
  padding-left: 20px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  font-weight: bolder;
}

.greeting div:nth-child(1) {
  font-size: 1rem;
}

.greeting div:nth-child(2) {
  font-size: 1.4rem;
}

.upload-options {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  align-items: center;
  justify-content: end;
  gap: 20px;
  padding-right: 80px;
}

.upload-options button {
  font-weight: bolder;
  color: white;
  background-color: #16a34a;
  border-radius: 15px;
  border: none;
  padding: 10px 30px;
}

.upload-options button:hover {
  background-color: #86efac;
}

/* SideBar */
.sidebar {
  background: #86efac;
  grid-row: 1/3;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 0.4fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: start;
  padding: 15px;
  padding-left: 50px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.sidebar img {
  margin-right: 10px;
  color: inherit;
  display: inline;
}

.icon.dashboard {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.icon.dashboard div {
  font-size: 30px;
  display: inline;
}

.icon.dashboard img {
  max-height: 100px;
  max-width: auto;
  display: inline;
}

.user-options {
  align-self: start;
  margin-top: 50px;
  padding-left: 5px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
  color: inherit;
}

.user-options div {
  display: flex;
  column-gap: 20px;
}

.user-options div:hover {
  color: lightgrey;
}

/* Project Showcase Panel */

.project-section {
  background-color: #F0F0F0;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  padding-top: 25px;
  font: inherit;
  column-gap: 20px;
}

.heading {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

.showcase-panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 20px;
}

.panel-item {
  background-color: white;
  padding:30px;
  border-radius: 15px;
}

.panel-item:hover {
  border-left: 8px inset;
  border-left-color: 	hotpink;
}

/* Misc Panel */
.misc {
  display:grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.announcements {
  display:grid;
  grid-template-rows: 0.5fr 4fr;
}

.anno-panel, .friend-panel {
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 20px 10px;
}

.small-heading {
  font-weight: bold;
  margin-bottom: 8px;
}

.anno-item {
  padding:5px;
}

.mid {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.friend-panel {
  gap: 20px;
}

.friend-item {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.friend-item img {
  max-height: 60px;
  max-width: auto;
  border-radius: 50%;
}

.friend-content {
  margin-left: 10px;
}

.friend-content div:first-child {
  font-weight: bold;
  margin-bottom: 8px;
}
